---
import DropdownExplorer from "@components/DropdownExplorer.astro";
import Layout from "@layouts/Layout.astro";
import MapExplorer from "@components/MapExplorer.astro";
---

<Layout title="Explorer | Seatizen Monitoring">
    <MapExplorer />

    <div class="dropdown-menu">
        <DropdownExplorer id_drop="left_layers" />
        <DropdownExplorer id_drop="right_layers" />
    </div>
</Layout>

<style>
    .dropdown-menu {
        display: flex;
        flex-direction: row;
        margin: 1em;
        justify-content: space-evenly;
    }
</style>
