---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Seatizen Monitoring">
    <h1><a href="/en/explorer">Explorer</a></h1>
    <h1><a href="/en/exporter">Exporter</a></h1>
</Layout>
