---
import Dropdown from "@components/Dropdown.astro";
import Layout from "@layouts/Layout.astro";
import MapExplorer from "@components/MapExplorer.astro";
---

<Layout title="Map Leaflet">
  <MapExplorer />

  <div class="dropdown-menu">
    <Dropdown id_drop="left_layers" />
    <Dropdown id_drop="right_layers" />
  </div>
</Layout>

<style>
  .dropdown-menu {
    display: flex;
    flex-direction: row;
    margin: 1em;
    justify-content: space-evenly;
  }
</style>
