---
import Dropdown from "@components/Dropdown.astro";
import Layout from "@layouts/Layout.astro";
import MapExplorer from "@components/MapExplorer.astro";
import ShareButton from "@components/ShareButton.astro";
---

<Layout title="Explorer | Seatizen Monitoring">
    <MapExplorer />

    <div class="dropdown-menu">
        <Dropdown id_drop="left_layers" />
        <Dropdown id_drop="right_layers" />
    </div>

    <ShareButton />
</Layout>

<style>
    .dropdown-menu {
        display: flex;
        flex-direction: row;
        margin: 1em;
        justify-content: space-evenly;
    }
</style>
