---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Bienvenue sur Seatizen Monitoring">
    <h1><a href="/fr/explorer">Exploreur</a></h1>
    <h1><a href="/fr/exporter">Exporteur</a></h1>
</Layout>
