---
import Dropdown from '@components/Dropdown.astro';
import Layout from '@layouts/Layout.astro';
import MapExplorer from '@components/MapExplorer.astro';

const metaTitle = "Map Leaflet"
---





<Layout>

   <MapExplorer />

    <Dropdown id_drop="left_layers"/>
    <Dropdown id_drop="right_layers"/>


<div style="margin-top: 1em;">
      <button id="btn-bathy">Toggle Bathymetry</button>
    </div>

    <!-- JS to control the map -->
    <script type="module">

      // Wait for the custom element to be upgraded (just in case)
    customElements.whenDefined("leaflet-explorer").then(() => {
      const explorer = document.querySelector("leaflet-explorer");

      document.getElementById("btn-bathy").addEventListener("click", () => {
        if (explorer) {
          explorer.toggleSplitMap();
        } else {
          console.warn("leaflet-explorer not found");
        }
      });
    });
    </script>
</Layout>